html{
    background-color: black;
}
header{
    color: wheat;
    margin: auto;
    width: 350px;
    font-size: 50px;
}
.container{
    margin: auto;
    margin-top: 10  px;
    background-color:wheat;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    cursor: pointer;
    -webkit-user-select: none;

}
.emptyCell{
    background-color: rgb(255, 244, 244);
    width: 165px;
    height: 165px;
    border: solid black 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: rgb(132, 132, 209);
    text-align: center;
    
    

}